.content-span{
    font-size: 11px;
}

.td4-table table td{
    padding:0.1rem;
}

.govern-details span{
    font-size:12px;
}

.dark-border td,th{
    border: 1px solid black;
}

.text-right{
    font-size: 11px;
}
.text-center{
    font-size: 11px;
}